@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px "#161D29" inset !important; /* your bg color */
    box-shadow: 0 0 0px 1000px "#161D29" inset !important;
    -webkit-text-fill-color: white !important; /* text color */
    transition: background-color 5000s ease-in-out 0s;
    
}